@import '../../styles/color';
@import '../../styles/media';
@import '../../styles/spacing';

.content {
    display: flex;
    justify-content: flex-end;
    column-gap: $spacing-5;
    row-gap: $spacing-3;

    @media only screen and (min-width: #{$media-mobile + 1}) and (max-width: #{$media-tablet}) {
        flex-direction: column;
    }
}

.creditCardSection {
    flex-grow: 2;
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.creditCard {
    width: 100%;
}

.details {
    flex-grow: 1;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    min-width: 12.5rem;

    text-align: end;

    @media only screen and (min-width: #{$media-tablet + 1}) {
        row-gap: $spacing-1-5;
        padding-left: $spacing-3;
        border-left: 1px solid $color-divider;
    }
}
