@import '../../styles/color';
@import '../../styles/media';
@import '../../styles/spacing';

.content {
    @media only screen and (min-width: #{$media-mobile + 1}) and (max-width: #{$media-tablet}) {
    }
}

.creditCardSection {
}

.creditCard {
}

.details {
    flex-grow: 1;
    display: grid;
    min-width: 12.5rem;
    text-align: end;

    @media only screen and (min-width: #{$media-tablet + 1}) {
        row-gap: $spacing-1-5;
        grid-template-rows: none;
        grid-template-columns: auto auto auto;
        align-items: center;
        justify-content: space-evenly;
    }
}
